:root {
	/* ### Primary */
	--Very-Dark-Blue: hsl(243, 87%, 12%);
	--Desaturated-Blue: hsl(238, 22%, 44%);

	/* ### Accent */
	--Bright-Blue: hsl(224, 93%, 58%);
	--Moderate-Cyan: hsl(170, 45%, 43%);

	/* ### Neutral */
	--Light-Grayish-Blue: hsl(240, 75%, 98%);
	--Light-Gray: hsl(0, 0%, 75%);

	/* ### Headings, Call-to-actions, Header Navigation */
	--font-head: "Raleway", sans-serif; /* 400 & 700 */

	/* ### Body */
	--font-body: "Open Sans", sans-serif;
}

/* 
---------------- Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

body {
	min-height: 100vh;
	color: var(--Very-Dark-Blue);
	font-family: var(--font-body);
	line-height: 1.5;
}
a {
	text-decoration: none;
}
.container {
	padding-left: 5rem;
	padding-right: 5rem;
}

/* 
---------------- Nav  */
.nav {
	display: flex;
	margin-top: 4rem;
	align-items: center;
	font-family: var(--font-head);
}
.nav__logo {
	flex-basis: 13.5%;
	width: 5rem;
}
.nav__link-group {
	flex-basis: 100%;
}
.nav__list {
	color: var(--Very-Dark-Blue);
	display: flex;
	justify-content: flex-end;
	gap: 3rem;
}
.nav__link {
	display: flex;
	list-style: none;
}
.nav__link-items {
	font-size: 1.05rem;
}

/* 
------------------- Main  */
.main {
	display: flex;
	margin-top: 5rem;
	gap: 2rem;
}
.main__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 50%;
}
.title {
	font-family: var(--font-head);
	font-weight: 700;
}
.main__title {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}
.main__description {
	font-weight: 400;
	font-size: 1.1rem;
}
.main__form {
	display: flex;
	gap: 1.2rem;
	margin-top: 1.2rem;
}
.main__button {
	font-size: 0.9rem;
	font-weight: bold;
	color: white;
	padding: 0.8rem 3.5rem;
	background: var(--Bright-Blue);
	border-radius: 4px;
}
.main__input-email {
	width: 55%;
	padding: 0.5rem 1.5rem;
	color: var(--Light-Gray);
}
.main__image-container {
	width: 100%;
	flex-basis: 49%;
}

/* 
------------------ introduction  */
.introduction {
	min-height: 100vh;
	display: flex;
	/* justify-content: center;
    align-items: center; */
	gap: 2rem;
	margin-top: 10rem;
	padding-top: 8rem;
	background-image: url(./images/bg-curve-desktop.svg);
	background-repeat: no-repeat;
	background-size: 320% 100%;
	background-position: bottom;
}
.introduction__content {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
}
.introduction__title {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
.introduction__image-group {
	flex-basis: 50%;
}
.introduction__description {
	margin-top: 1rem;
	padding-right: 9rem;
}
.introduction__link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--Moderate-Cyan);
	margin-top: 1rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid var(--Moderate-Cyan);
	width: fit-content;
	flex-wrap: wrap;
}
.introduction__link-icon {
	height: 1.2rem;
	padding-left: 0.5rem;
}
.introduction__card {
	width: 52%;
	display: flex;
	flex-direction: column;
	padding: 1.8rem;
	margin: 3rem 0 6rem;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 31px -16px var(--Light-Gray);
}
.introduction__quotes-icon {
	width: 6%;
	margin-bottom: 0.6rem;
}
.introduction__testimonial {
	font-size: 0.8rem;
	line-height: 1.8;
	letter-spacing: 0.5px;
}
.introduction__profile-container {
	display: flex;
	margin-top: 1rem;
	align-items: center;
}
.introduction__profile-image {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
.introduction__profile-group {
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	margin-left: 0.65rem;
}
.introduction__profile-name {
	font-size: 0.75rem;
	font-weight: 700;
	font-family: var(--font-head);
	letter-spacing: 1.15px;
}
.introduction__profile-info {
	font-size: 0.62rem;
}

.cta {
	display: flex;
	/* align-items: center; */
	background: var(--Desaturated-Blue);
	color: white;
	padding: 8rem 5rem;
	gap: 8rem;
}
.cta__content {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}
.cta__title {
	font-size: 2rem;
}
.cta__description {
	margin-top: 1.5rem;
	padding-right: 5rem;
}

.cta__input-group {
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
}
.cta__form {
	font-size: 0.8rem;
	color: var(--Light-Gray);
	padding: 0.85rem 1.25rem;
	margin-top: 0.75rem;
	border-radius: 3px;
	outline: none;
	border: none;
}
.cta__button {
	width: fit-content;
	color: white;
	font-size: 0.85rem;
	font-weight: 700;
	font-family: var(--font-head);
	margin-top: 1rem;
	padding: 0.85rem 1.8rem;
	background: var(--Bright-Blue);
	border-radius: 3px;
}

.footer {
	background: var(--Very-Dark-Blue);
	color: white;
	padding: 7rem 5rem 5rem;
}
.footer__logo {
	filter: invert(90%) sepia(1%) saturate(4007%) hue-rotate(205deg)
		brightness(108%) contrast(105%);
}
.footer__container {
	display: flex;
	gap: 13rem;
}
.footer__group {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}
.footer__contact-icon {
	width: 1rem;
	height: 1rem;
}
.footer__contact-group {
	display: flex;
	align-items: center;
}
.footer__contact-group:last-child {
	margin-top: 1rem;
}
.footer__contact-link {
	margin-left: 1rem;
}
.footer__link:not(:first-child) {
	margin-top: 1rem;
}
.footer__link {
	color: white;
}
.footer__social-group {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__social-icon {
	width: 1.5rem;
	margin-left: 1rem;
	filter: invert(100%) sepia(52%) saturate(2016%) hue-rotate(181deg)
		brightness(107%) contrast(102%);
}

/* 
--------------------- Active State  */
.button--active:hover {
	filter: brightness(135%);
}
.link--active:hover {
	color: var(--Desaturated-Blue);
}
.social--active:hover {
	filter: invert(34%) sepia(10%) saturate(1816%) hue-rotate(200deg)
		brightness(98%) contrast(89%);
}
