:root {
	/* ### Primary */
	--Very-Dark-Blue: hsl(243, 87%, 12%);
	--Desaturated-Blue: hsl(238, 22%, 44%);

	/* ### Accent */
	--Bright-Blue: hsl(224, 93%, 58%);
	--Moderate-Cyan: hsl(170, 45%, 43%);

	/* ### Neutral */
	--Light-Grayish-Blue: hsl(240, 75%, 98%);
	--Light-Gray: hsl(0, 0%, 75%);

	/* ### Headings, Call-to-actions, Header Navigation */
	--font-head: "Raleway", sans-serif; /* 400 & 700 */

	/* ### Body */
	--font-body: "Open Sans", sans-serif;
}

/* 
---------------- Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

body {
	min-height: 100vh;
	color: var(--Very-Dark-Blue);
	font-family: var(--font-body);
	line-height: 1.5;
}
a {
	text-decoration: none;
}
.container {
	padding: 4rem 5rem 0;
}

/* 
---------------- Nav  */
.nav {
	display: flex;
	align-items: center;
	font-family: var(--font-head);
}
.nav__logo {
	flex-basis: 13.5%;
	width: 5rem;
}
.nav__link-group {
	flex-basis: 100%;
}
.nav__list {
	color: var(--Very-Dark-Blue);
	display: flex;
	justify-content: flex-end;
	gap: 3rem;
}
.nav__link {
	display: flex;
	list-style: none;
}
.nav__link-items {
	font-size: 1.05rem;
}

/* 
------------------- Main  */
.main {
	display: flex;
	margin-top: 2rem;
	gap: 2rem;
}
.main__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 50%;
}
.main__title {
	font-size: 2.5rem;
	font-family: var(--font-head);
	font-weight: 700;
	margin-bottom: 1rem;
}
.main__description {
	font-weight: 400;
	font-size: 1.1rem;
}
.main__form {
	display: flex;
	gap: 1.2rem;
	margin-top: 1.2rem;
}
.main__button {
	font-size: 0.9rem;
	font-weight: bold;
	color: white;
	padding: 0.8rem 3.5rem;
	background: var(--Bright-Blue);
	border-radius: 4px;
}
.main__input-email {
	width: 55%;
	padding: 0.5rem 1.5rem;
	color: var(--Light-Gray);
}
.main__image-container {
    width: 100%;
	flex-basis: 49%;
}
